

@import "tailwindcss" source(none);

@source not "../src/components/";
/*@config '../tailwind.config.js'; */


@custom-variant dark (&:where(.dark, .dark *));


@theme {

    --breakpoint-xs: 0px;
    --color-primary: var(--theme-color);
    --color-primaryDark: var(--theme-dark-color);
    --color-primaryLight: var(--theme-light-color);
    --color-boxDark: #24303F;
    --color-strokeDark: #2E3A47;

    /* ... */
  }



/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {

  .no-tailwindcss-base h1,
  .no-tailwindcss-base h2,
  .no-tailwindcss-base h3,
  .no-tailwindcss-base h4,
  .no-tailwindcss-base h5,
  .no-tailwindcss-base h6 {
    font-size: revert;
    font-weight: revert;
  }

  .no-tailwindcss-base ol,
  .no-tailwindcss-base ul {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
}




.main.active {
  @apply md:w-full md:ml-0;
}


.btn-dark {
  @apply text-white rounded-md bg-slate-700 hover:bg-slate-900 hover:text-white;
}



/*  GL custom styles  */

.gl-label-form-invalid {
  @apply block mb-2 text-sm font-medium text-red-700 dark:text-red-500
}


.gl-label-form {
  @apply block mb-2 text-sm font-medium text-slate-900 dark:text-white
}



.gl-label-translation-form-invalid {
  @apply text-sm font-medium text-red-700 dark:text-red-500
}


.gl-label-translation-form {
  @apply text-sm font-medium text-slate-900 dark:text-white
}




.gl-input-form-invalid {
  @apply h-10 bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg outline-hidden dark:bg-slate-700 focus:border-red-500 block w-full p-3 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500
}


.gl-input-form {
  @apply h-10 bg-slate-50 border text-slate-900 text-sm rounded-lg outline-hidden focus:border-primary block w-full p-3 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:border-primaryDark border-slate-200
}



.gl-input-form-invalid-text {
  @apply h-10 bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm outline-hidden dark:bg-slate-700 focus:border-red-500 block w-full p-3 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500
}


.gl-input-form-text {
  @apply h-10 bg-slate-50 border text-slate-900 text-sm outline-hidden focus:border-primary block w-full p-3 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:border-primaryDark border-slate-200
}



.gl-textarea-form-invalid {
  @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm outline-hidden rounded-lg dark:bg-slate-700 focus:border-red-500 block w-full p-3 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500
}


.gl-textarea-form {
  @apply bg-slate-50 border text-slate-900 text-sm rounded-lg outline-hidden focus:border-primary block w-full p-3 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:border-primaryDark border-slate-200
}

.gl-multi-dropdown {
  @apply min-h-10 bg-slate-50 border text-slate-900 text-sm rounded-lg outline-hidden focus:border-primary w-full p-2 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:border-primaryDark border-slate-200
}






.gl-span-form-error {
  @apply text-sm text-red-600 dark:text-red-500
}



.console_styles {

  width: 100%;
  border-radius: .5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));



}


input::-webkit-calendar-picker-indicator {
  filter: invert(1) hue-rotate(180deg);
}




.gl-btn-primary {



  @apply border border-primary bg-primary   dark:border-primaryDark dark:bg-primaryDark relative text-white z-10 rounded-md transition ease-linear duration-300 cursor-pointer


}

.gl-btn-primary:hover {

  @apply text-white brightness-110 transition-all duration-500 ease-in-out


}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


[type='date'],[type='time'],[type='datetime-local'],[type='month'] {
  color-scheme: dark;
}




[type='checkbox'],
[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}

[type='checkbox'],
[type='radio'] {
  @apply  text-primary

}



[type='checkbox'] {
  border-radius: 0px;
}

[type='radio'] {
  border-radius: 100%;
}

[type='checkbox']:focus,
[type='radio']:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: var(--theme-color);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

[type='checkbox']:checked,
[type='radio']:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

[type='radio']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

[type='checkbox']:checked:hover,
[type='checkbox']:checked:focus,
[type='radio']:checked:hover,
[type='radio']:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='checkbox']:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:indeterminate:hover,
[type='checkbox']:indeterminate:focus {
  border-color: transparent;
  background-color: currentColor;
}







.required::after {
  content: " *";
  color: red;
}




select:not([size]) {
  background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3e %3cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3e %3c/svg%3e");
  background-position: right .75rem center;
  background-repeat: no-repeat;
  background-size: .75em .75em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}




.gl-dot span {


  @apply bg-primary dark:bg-primaryDark

}


.arrow_button_styles

{

@apply text-primary dark:text-white border border-primary dark:border-primaryDark
}

.arrow_button_styles:hover

{
  @apply bg-primary dark:bg-primaryDark text-white

}