

@import "tailwindcss" source(none);




@source not "../src/components/";
/*@config '../tailwind.config.js'; */


@custom-variant dark (&:where(.dark, .dark *));


@theme {

    --breakpoint-xs: 0px;
    --color-primary: var(--theme-color);
    --color-primaryDark: var(--theme-dark-color);
    --color-primaryLight: var(--theme-light-color);
    --color-boxDark: #24303F;
    --color-strokeDark: #2E3A47;

    /* ... */
  }



/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {

  .no-tailwindcss-base h1,
  .no-tailwindcss-base h2,
  .no-tailwindcss-base h3,
  .no-tailwindcss-base h4,
  .no-tailwindcss-base h5,
  .no-tailwindcss-base h6 {
    font-size: revert;
    font-weight: revert;
  }

  .no-tailwindcss-base ol,
  .no-tailwindcss-base ul {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
}




.main.active {
  @apply md:w-full md:ml-0;
}


.btn-dark {
  @apply text-white rounded-md bg-gray-700 hover:bg-gray-900 hover:text-white;
}



/*  GL custom styles  */

.gl-label-form-invalid {
  @apply block mb-2 text-sm font-medium text-red-700 dark:text-red-500
}


.gl-label-form {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
}



.gl-label-translation-form-invalid {
  @apply text-sm font-medium text-red-700 dark:text-red-500
}


.gl-label-translation-form {
  @apply text-sm font-medium text-gray-900 dark:text-white
}




.gl-input-form-invalid {
  @apply h-10 bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg outline-hidden dark:bg-gray-800 focus:border-red-500 block w-full p-3 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500
}


.gl-input-form {
  @apply h-10 bg-gray-50 border text-gray-900 text-sm rounded-lg outline-hidden focus:border-primary block w-full p-3 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:border-primaryDark border-gray-200
}



.gl-input-form-invalid-text {
  @apply h-10 bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm outline-hidden dark:bg-gray-800 focus:border-red-500 block w-full p-3 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500
}


.gl-input-form-text {
  @apply h-10 bg-gray-50 border text-gray-900 text-sm outline-hidden focus:border-primary block w-full p-3 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:border-primaryDark border-gray-200
}



.gl-textarea-form-invalid {
  @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm outline-hidden rounded-lg dark:bg-gray-800 focus:border-red-500 block w-full p-3 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500
}


.gl-textarea-form {
  @apply bg-gray-50 border text-gray-900 text-sm rounded-lg outline-hidden focus:border-primary block w-full p-3 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:border-primaryDark border-gray-200
}

.gl-multi-dropdown {
  @apply min-h-10 bg-gray-50 border text-gray-900 text-sm rounded-lg outline-hidden focus:border-primary w-full p-2 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:border-primaryDark border-gray-200
}






.gl-span-form-error {
  @apply text-sm text-red-600 dark:text-red-500
}



.console_styles {

  @apply w-full rounded-lg bg-gray-950 border border-gray-900 font-mono text-white;
}


input::-webkit-calendar-picker-indicator {
  filter: invert(1) hue-rotate(180deg);
}




.gl-btn-primary {



  @apply border border-primary bg-primary   dark:border-primaryDark dark:bg-primaryDark relative text-white z-10 rounded-md transition ease-linear duration-300 cursor-pointer


}

.gl-btn-primary:hover {

  @apply text-white brightness-110 transition-all duration-500 ease-in-out


}


/*
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
  */


[type='date'],[type='time'],[type='datetime-local'],[type='month'] {
  color-scheme: dark;
}








[type=checkbox],[type=radio] {
        appearance: none;
        print-color-adjust: exact;
        vertical-align: middle;
        -webkit-user-select: none;
        user-select: none;
        width: 1.3rem;
        height: 1.3rem;
        color: var(--color-blue-600);
        border-color: --color-gray-500;
        --tw-shadow: 0 0 #0000;
        background-color: #fff;
        background-origin: border-box;
        border-width: 1px;
        flex-shrink: 0;
        padding: 0;
        display: inline-block
    }



    [type=checkbox],[type=radio] {
        
        @apply text-primary dark:text-primaryDark
       
    }

    /*
    [type=checkbox] {
        border-radius: 0
    }

    */

    [type=radio] {
        border-radius: 100%
    }

    [type=checkbox]:focus,[type=radio]:focus {
        outline-offset:2px;
        --tw-ring-inset: var(--tw-empty, );
        --tw-ring-offset-width: 2px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: var(--theme-color);
        --tw-ring-offset-shadow: var(--tw-ring-inset)0 0 0 var(--tw-ring-offset-width)var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset)0 0 0 calc(2px + var(--tw-ring-offset-width))var(--tw-ring-color);
        box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
        outline: 2px solid #0000
    }

    [type=checkbox]:checked,[type=radio]:checked,.dark [type=checkbox]:checked,.dark [type=radio]:checked {
        background-position:50%;
        background-repeat: no-repeat;
        background-size: .55em .55em;
        background-color: currentColor!important;
        border-color: #0000!important
    }

    [type=checkbox]:checked {
        print-color-adjust:exact;
        background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3e %3c/svg%3e");
        background-repeat: no-repeat;
        background-size: .55em .55em
    }

    [type=radio]:checked,.dark [type=radio]:checked {
        background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
        background-size: 1em 1em
    }

    [type=checkbox]:indeterminate {
        print-color-adjust:exact;
        background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M0.5 6h14'/%3e %3c/svg%3e");
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: .55em .55em;
        background-color: currentColor!important;
        border-color: #0000!important
    }

    [type=checkbox]:indeterminate:hover,[type=checkbox]:indeterminate:focus {
        background-color:currentColor!important;
        border-color: #0000!important
    }





.required::after {
  content: " *";
  color: red;
}




select:not([size]) {
  background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3e %3cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3e %3c/svg%3e");
  background-position: right .75rem center;
  background-repeat: no-repeat;
  background-size: .75em .75em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}




.gl-dot span {


  @apply bg-primary dark:bg-primaryDark

}


.arrow_button_styles

{

@apply text-primary dark:text-white border border-primary dark:border-primaryDark
}

.arrow_button_styles:hover

{
  @apply bg-primary dark:bg-primaryDark text-white

}